nav, main{
  width: 900px;
  min-height: 100px;
  border: solid 2px gray;
  background-color: antiquewhite;
  margin: 10px auto;
}

main {
  min-height: 650px;
  display: flex;
  flex-wrap: wrap;
}

.div{
  width: 300px;
  height: 100px;
  border:solid 2px gray;
  box-sizing: border-box;
}