body{
  background-color: aqua;
  font-size: 5em;
  letter-spacing: 10px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}

div{
  position: absolute;
  border: solid 1px gray;
  width: 150px;
  height: 150px;
  /* margin: 10px; */
  background-color: brown;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}