nav, main{
  width: 850px;
  min-height: 100px;
  border: solid 2px gray;
  background-color: antiquewhite;
  margin: 10px auto;
}

main {
  height: 650px;
  position: relative;
}

.ball{
  border: solid 3px green;
  width: 100px;
  height: 100px;
  background-color: aqua;
  border-radius: 50%;
  position: absolute;
  box-sizing: border-box;
}

nav input{
  margin: 15px;
  font-size: 1.3em;
  padding: 5px;
}

.result{
  height: 50px;
  background-color: aquamarine;
}