.container-1, .container-2{
  margin: auto;
  width: 800px;
  min-height: 10vh;
  border: solid 2px gray;
  padding: 20px;
  box-sizing: border-box;
  background-color: antiquewhite;
}

.container-2{
  margin-top: 20px;
  min-height: 30vh;
  display: flex;
  flex-wrap: wrap;
}

.ball{
  width: 70px;
  height: 70px;
  border: solid 1px black;
  border-radius: 50%;
  background-color: brown;
  background: radial-gradient(circle at 65% 15%, white 2px, aqua 3%, darkblue 60%, aqua 100%);  
}