nav, main{
  border: solid 2px gray;
  padding: 10px;
  width: 900px;
  margin: 10px auto;
  min-height: 100px;
}

main{
  min-height: 300px;
  display: flex;
  flex-wrap: wrap;
}

.ball{
  width: 100px;
  height: 100px;
  border: solid 2px blueviolet;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 2em;
}