.container, .controller{
  border: solid 5px silver;
  width: 700px;
  min-height: 350px;
  margin: auto;
  background-color: aquamarine;
}

.controller{
  min-height: 10vh;
  background-color: antiquewhite;
}

.container{
  position: relative;
}

.ball{
  width: 50px;
  height: 50px;
  border: solid 1px black;
  background-color: blueviolet;
  border-radius: 50%;
  position: absolute;
  box-sizing: border-box;
}